.game-screen {
  width: 90vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.lottie-container {
  width: 200px;
  height: 200px;
}

.lottie-container.backward {
  transform: scaleX(-1);
}

.button-container {
  width: 90vw;
  height: 10vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.back-button,
.forward-button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}
.back-button {
  background-image: url(../assets/left-arrow.svg);
}
.forward-button {
  background-image: url(../assets/right-arrow.svg);
}
