.game-screen {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: stretch;

  overflow-x: hidden;
}

.lottie-container {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 30vh;
  transition: left 0.1s ease-in-out;
}

.lottie-container.backward {
  transform: scaleX(-1);
}

.button-container {
  width: 90vw;
  height: 10vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.back-button,
.forward-button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}
.back-button {
  background-image: url(../assets/left-arrow.svg);
}
.forward-button {
  background-image: url(../assets/right-arrow.svg);
}
.back-button:focus-visible,
.forward-button:focus-visible {
  outline-color: transparent;
}
